.NavBar {
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.637);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.NavBar > div {
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

.NavBar > div > h2 {
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: 600;
}

.NavBar > div > img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
